.background {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.login-div {
    background-color: white;
    box-shadow: 10px 10px 10px 10px black;
    padding: 5%;
    width: 30%;
    align-content: center;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 450px) {
    .login-div {
        background-color: white;
        box-shadow: 10px 10px 10px 10px black;
        padding: 2%;
        width: 85%;
        align-content: center;
        border-radius: 8px;
    }
}

.input-field {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 1em;
}

.input-field:hover {
    border-radius: 5px;
    border: 1px rgb(0, 0, 0) solid;
}

.input-field:focus {
    border-radius: 5px;
    border: 1px rgb(0, 0, 0) solid;
}

.login-button {
    width: 100%;
    margin-top: 20px;
    height: 2.2rem;
    border-radius: 15px;
    align-content: center;
    background-color: rgb(7, 190, 222);
    border-style: none;
    color: white;
    font-size: 1.3em;
}

.login-button:hover {
    background-color: rgb(28, 209, 241);
}